---
version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
    open-pull-requests-limit: 5
    groups:
      eslint-plugins:
        patterns: ['eslint*', '*eslint*', 'typescript-eslint*']

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
