---
version: 2
updates:
  - package-ecosystem: npm
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 1
    groups:
      all-dependencies:
        patterns: ['*']

  - package-ecosystem: npm
    directory: /apps/api
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 1
    groups:
      api-dependencies:
        patterns: ['*']

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 1
    groups:
      all-actions:
        patterns: ['*']

  - package-ecosystem: docker
    directory: /apps/api
    schedule:
      interval: weekly
      day: monday
    open-pull-requests-limit: 1
